@import '../../app/variables';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert_box {
  @apply w-[80vw] left-[10vw] 
  md:w-[60vw] md:left-[20vw] 
  lg:w-[40vw] lg:left-[30vw];

  position: fixed;
  top: 30vh;
  padding: 20px;
  z-index: 100;
  background-color: $white-color;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  p {
    @apply text-lg;
    color: $dark-color;
  }
}

.alert_actions {
  text-align: right;

  button {
    @apply p-1 px-3 rounded-sm mt-4;
    background: $red-500;
    color: $gray-50;
    &:hover {
      background: $dark-color;
    }
  }
}
