<!-- Dynamic Component -->
<ng-template appPlaceholder></ng-template>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'joinUs' | translate }}</h2>
  <div class="input_container">
    <label for="email">{{ 'email' | translate }}</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      Autofocus
    />
    <span
      *ngIf="
        authForm.get('email')?.invalid &&
        authForm.get('email')?.touched
      "
      >{{ 'validEmail' | translate }}</span
    >
  </div>
  <div class="input_container">
    <label for="password">{{ 'password' | translate }}</label>
    <input
      type="password"
      id="password"
      formControlName="password"
    />
    <span
      *ngIf="
        authForm.get('password')?.invalid &&
        authForm.get('password')?.touched
      "
    >
      {{ 'validPassword' | translate }}</span
    >
  </div>
  <button
    type="submit"
    class="signup_btn"
    [ngClass]="{
      signup_btn: authForm.valid,
      disabled_btn: !authForm.valid
    }"
    [disabled]="!authForm.valid"
  >
    {{
      isLoginMode
        ? ('login' | translate)
        : ('signUp' | translate)
    }}
  </button>
  <br />
  <br />
  <button
    type="button"
    class="google_btn"
    (click)="onGoogleAuth()"
  >
    <img src="../../assets/google.webp" class="w-8" alt="" />
    Google
  </button>
  <button
    type="button"
    class="switch_btn"
    (click)="onSwitchMode()"
  >
    {{
      isLoginMode
        ? ('gotoSignup' | translate)
        : ('alreadyHaveAccount' | translate)
    }}
  </button>
</form>
