@import '../variables';

form {
  @apply mt-8 w-full px-20 sm:px-0 sm:w-1/2 mx-auto transition-all ease-in duration-300;

  h2 {
    @apply text-center text-lg font-medium;
  }

  div {
    @apply mt-3;
  }

  label {
    @apply text-sm py-2 uppercase font-semibold;
  }

  input,
  textarea {
    @apply w-full h-9 border-2 transition-all duration-200 ease-in 
    text-sm font-sans tracking-wider mt-1 rounded p-3 outline-none;

    border-color: $gray-300;

    &:focus {
      border-color: $dark-color;
    }
  }

  textarea {
    @apply h-20;
  }

  .signup_btn {
    @apply w-full rounded py-2 mt-5 border-2 border-transparent uppercase
    transition-all duration-200 ease-in hover:bg-transparent hover:font-bold;

    color: $gray-50;
    background: $dark-color;
    &:hover {
      border-color: $dark-color;
      color: $text-color;
    }
  }

  .google_btn {
    @apply flex items-center justify-center text-center w-full py-1 text-xl rounded
    border-2 border-transparent transition-all duration-200 ease-in hover:bg-transparent hover:font-bold;

    background: $blue-600;
    color: $gray-50;

    &:hover {
      border-color: $blue-600;
      color: $blue-600;
    }
  }

  .switch_btn {
    @apply w-full text-center mt-2;
  }

  .disabled_btn {
    @apply w-full rounded py-2 mt-5 border-2 border-transparent
    uppercase transition-all duration-200 ease-in;
    color: $gray-50;
    background: $slate-500;
  }

  input.ng-invalid.ng-touched {
    border-color: $red-400;
  }

  .input_container {
    @apply text-sm;
    color: $gray-500;
  }
}
