@import '../variables';

nav {
  background: $dark-color;
}

.burger_icon {
  @apply inline-flex items-center justify-center rounded-md p-2;
  color: $gray-400;
  &:hover {
    background: $gray-700;
    color: $white-color;
  }
}

.nav_link {
  @apply px-3 py-2 rounded-sm text-sm font-medium;
  color: $gray-300;
  &:hover {
    background: $gray-700;
    color: $white-color;
  }
}

.mobile_link {
  @apply block px-3 py-2 rounded-sm text-base font-medium;
  color: $gray-300;
  &:hover {
    background: $gray-700;
    color: $white-color;
  }
}

.active {
  color: $white-color;
  background: $gray-900;
}

a {
  color: $gray-700;
}

.search_container {
  @apply flex items-center gap-2 px-2 text-lg overflow-hidden
  transition-all ease-in-out rounded sm:rounded-full;

  .search_input {
    @apply h-9 w-full sm:h-8 outline-none;
  }
}
