<nav>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <div
        class="absolute inset-y-0 left-0 flex items-center sm:hidden"
      >
        <!-- Mobile menu button-->
        <button
          type="button"
          class="burger_icon"
          aria-controls="mobile-menu"
          aria-expanded="true"
          (click)="onToggleMenu()"
        >
          <span class="sr-only">Open main menu</span>

          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>

          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <img
            class="block h-10 w-auto lg:hidden cursor-pointer"
            src="../../assets/2048px-Angular_full_color_logo.svg.png"
            alt="Your Company"
            routerLink="/"
            (click)="onCancelFiltered()"
          />
          <img
            class="hidden h-10 w-auto lg:block cursor-pointer"
            src="../../assets/2048px-Angular_full_color_logo.svg.png"
            alt="Your Company"
            routerLink="/"
            (click)="onCancelFiltered()"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex items-center space-x-4">
            <a
              routerLink="/albums"
              routerLinkActive="active"
              class="nav_link"
              (click)="onCancelFiltered()"
              >Album</a
            >
            <a
              *ngIf="isAuthenticated"
              routerLink="/new-album"
              routerLinkActive="active"
              class="nav_link"
              (click)="onCancelFiltered()"
              >Add New</a
            >
            <a
              *ngIf="!isAuthenticated"
              routerLink="/auth"
              routerLinkActive="active"
              class="nav_link"
              >Login / Sign up</a
            >
            <div
              appSearchInput
              class="search_container"
              *ngIf="searchDisplay"
            >
              <fa-icon
                class="cursor-pointer"
                [icon]="searchIcon"
              ></fa-icon>
              <input
                type="text"
                class="search_input"
                placeholder="search"
                [(ngModel)]="searchText"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Right Side -->
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative ml-3" *ngIf="isAuthenticated">
          <div class="flex items-end gap-3">
            <p class="text-gray-50 text-sm font-thin">
              {{ user | username : '@' }}
            </p>
            <img
              class="h-8 w-8 rounded-full cursor-pointer"
              src="{{ userImage }}"
              alt="userImage"
            />
          </div>
          <div>
            <div
              class="absolute right-0 z-10 mt-2 origin-top-right bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
              appDropdown
            >
              <a
                class="block px-4 py-2 text-sm cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                appGrayHighlight
                (click)="onStoreAlbums()"
                >{{
                  isStoring ? 'Storing...' : 'Store Album'
                }}</a
              >
              <a
                class="block px-4 py-2 text-sm cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                appGrayHighlight
                (click)="onFetchAlbums()"
                >{{
                  isFetching ? 'Fetching...' : 'Fetch Album'
                }}</a
              >
              <a
                class="block px-4 py-2 text-sm cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                appGrayHighlight
                (click)="onFilteredAlbums()"
                >My Uploads</a
              >
              <a
                class="block px-4 py-2 text-sm cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                appGrayHighlight
                (click)="onLogout()"
                >Log Out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu" *ngIf="toggleMenu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a
        routerLink="/albums"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="mobile_link"
        (click)="onCancelFiltered()"
        >Album</a
      >
      <a
        *ngIf="isAuthenticated"
        routerLink="/new-album"
        routerLinkActive="active"
        class="mobile_link"
        (click)="onCancelFiltered()"
        >Add New</a
      >
      <a
        *ngIf="!isAuthenticated"
        routerLink="/auth"
        routerLinkActive="active"
        class="mobile_link"
        (click)="onCancelFiltered()"
        >Login / Sign up</a
      >
      <div appSearchInput class="search_container">
        <fa-icon
          [icon]="searchIcon"
          class="cursor-pointer"
        ></fa-icon>
        <input
          type="text"
          class="search_input"
          placeholder="search"
          [(ngModel)]="searchText"
        />
      </div>
    </div>
  </div>
</nav>
