@import '../variables';

nav {
  background: $dark-color;
}

.burger_icon {
  @apply inline-flex items-center justify-center rounded-md p-2 transition-all ease-in;
  color: $gray-400;

  &:hover {
    background: $hover-color;
    color: $white-color;
  }
}

.nav_link {
  @apply px-3 py-2 rounded-sm text-sm font-medium relative z-0 overflow-hidden;
  color: $gray-300;

  &:hover {
    color: $white-color;
  }

  &::before {
    @apply w-full h-full absolute top-0;
    z-index: -1;
    left: -100%;
    background: $hover-color;
    content: '';
    transition: all ease-in 0.15s;
  }

  &:hover::before {
    left: 0;
  }
}

.mobile_link {
  @apply block px-3 py-2 rounded-sm text-base font-medium;
  color: $gray-300;

  &:hover {
    background: $hover-color;
    color: $white-color;
    transition: all ease-in 0.15s;
  }
}

.active {
  color: $white-color;
  background: $gray-900;
}

a {
  color: $gray-700;
}

.search_container {
  @apply flex items-center gap-2 px-2 text-lg overflow-hidden
  transition-all ease-in-out rounded sm:rounded-full;

  .search_input {
    @apply h-9 w-full sm:h-8 outline-none;
  }
}

.translation {
  @apply flex gap-2 ml-3;

  &-flag {
    @apply cursor-pointer;

    img {
      @apply shadow-lg shadow-slate-900 transition-all ease-in duration-100;

      &:hover {
        @apply brightness-125;
      }
    }
  }
}
