<div class="detail_card">
  <div class="detail_img">
    <img src="{{ albumDetail?.imageURL }}" alt="{{ albumDetail?.title }}" />
  </div>
  <div class="detail_content">
    <h2>{{ albumDetail?.title }}</h2>
    <p>{{ albumDetail?.description }}</p>
    <ul *ngFor="let item of albumDetail?.comments">
      <li>{{ item.author }}: {{ item.content }}</li>
    </ul>
    <button type="button" (click)="onEditAlbum()">Edit</button>
    <br />
    <div *ngIf="commentMode">
      <input type="text" class="text-slate-800 px-1" #contentInput />
      <button type="button" (click)="onAddComment()">Add</button>
    </div>
    <button (click)="onCommentMode()">+ add comment</button>
  </div>
</div>
