<div class="w-1/3 mx-auto">
  <h2 class="title">{{ editMode ? 'Edit' : 'Add' }} Your Album</h2>
  <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
      <label for="imageURL">Image URL</label>
      <input type="text" id="imageURL" formControlName="imageURL" #imagePath />
    </div>
    <img
      *ngIf="imagePath.value"
      [src]="imagePath.value"
      alt=""
      class="rounded mt-4 w-full h-full"
    />
    <button class="add_btn" type="submit">
      {{ editMode ? ('Edit' | uppercase) : ('Add' | uppercase) }}
    </button>
  </form>
</div>
