<div
  class="w-10/12 sm:w-1/2 xl:w-1/3 mx-auto transition-all ease-in duration-300"
>
  <h2 class="title">
    {{
      editMode
        ? ('editAlbum' | translate)
        : ('addAlbum' | translate)
    }}
  </h2>
  <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div>
      <label for="title">{{ 'title' | translate }}</label>
      <input
        type="text"
        class="form_input"
        id="title"
        formControlName="title"
        Autofocus
      />
      <span
        *ngIf="
          albumForm.get('title')?.invalid &&
          albumForm.get('title')?.touched
        "
        >Type a valid "Title" which should be 40 character
        max.</span
      >
    </div>
    <!-- Description -->
    <div>
      <label for="description">{{
        'description' | translate
      }}</label>
      <textarea
        id="description"
        formControlName="description"
      ></textarea>
      <span
        *ngIf="
          albumForm.get('description')?.invalid &&
          albumForm.get('description')?.touched
        "
        >Type a valid "Description"</span
      >
    </div>
    <!-- Image -->
    <div class="relative">
      <label for="imageURL">{{ 'uploadImg' | translate }}</label>
      <span class="sr-only">{{ 'chooseImg' | translate }}</span>
      <p
        class="text-slate-800 w-full text-center text-lg absolute top-0 animate-pulse"
        *ngIf="isImgUploaded && isImgBlur"
      >
        {{ 'uploading' | translate }}
      </p>
      <input
        type="file"
        class="image_input"
        id="imageURL"
        formControlName="imageURL"
        (change)="uploadAlbumImage($event)"
      />
      <span
        *ngIf="
          albumForm.get('imageURL')?.invalid &&
          albumForm.get('imageURL')?.touched
        "
        >{{ 'selectImg' | translate }}</span
      >
    </div>
    <!-- Display Image -->
    <img
      *ngIf="imgPath && albumForm.get('imageURL')?.valid"
      [src]="imgPath"
      alt=""
      [ngClass]="{
        form_img_blur: isImgBlur,
        form_img: !isImgBlur
      }"
    />
    <!-- Submit Btn -->
    <button
      [ngClass]="{
        add_btn: albumForm.valid && isImgUploaded,
        disabled_btn: !albumForm.valid || !isImgUploaded
      }"
      type="submit"
      [disabled]="!albumForm.valid || !isImgUploaded"
    >
      {{
        editMode
          ? ('edit' | translate | uppercase)
          : ('add' | translate | uppercase)
      }}
    </button>
  </form>
</div>
