@import '../../variables';

.title {
  @apply text-2xl text-center font-sans font-semibold;
  color: $dark-color;
}

form {
  @apply mt-8;

  div {
    @apply mt-3;
  }

  label {
    @apply text-sm py-2 uppercase font-semibold;
  }

  input,
  textarea {
    @apply w-full h-9 border-2 
            transition-all duration-200 ease-in
            text-sm font-sans tracking-wider mt-1
            rounded p-3 outline-none;
    border-color: $gray-300;

    &:focus {
      border-color: $dark-color;
    }
  }

  textarea {
    @apply h-20;
  }

  .add_btn {
    @apply w-full rounded py-2 mt-5 border-2 border-transparent
    transition-all duration-200 ease-in hover:bg-transparent
    hover:font-bold;
    color: $gray-50;
    background: $dark-color;

    &:hover {
      border-color: $dark-color;
      color: $dark-color;
    }
  }

  .disabled_btn {
    @apply w-full  rounded py-2 mt-5 border-2 border-transparent
    transition-all duration-200 ease-in;
    color: $gray-50;
    background: $slate-500;
  }

  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border-color: $red-400;
  }
}
