@import '../variables';

div {
  @apply w-full h-60 flex flex-col gap-8 items-center justify-center;

  h2 {
    @apply text-slate-800 text-3xl font-semibold;

    span {
      @apply text-4xl font-thin;
      color: $slate-400;
    }
  }

  a {
    @apply border p-2 rounded-sm hover:font-semibold transition-all ease-in-out;
    color: $blue-600;
    border-color: $blue-600;
    &:hover {
      background: $blue-600;
    }

    &:hover {
      color: $gray-50;
    }
  }
}
