$dark-color: #1e293b;
$white-color: #fff;
$slate-700: #334155;
$slate-500: #64748b;
$slate-400: #94a3b8;

$gray-900: #111827;
$gray-700: #374151;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;

$green-600: #16a34a;
$blue-600: #2563eb;
