@import '../../../variables';

.item_container {
  @apply max-w-sm h-[28.2rem] rounded overflow-hidden relative flex flex-col justify-between;
  background: $gray-200;
  color: $dark-color;

  .item_desc {
    @apply text-base;
    color: $gray-700;
  }
}

.item_icon {
  @apply inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2
    active:scale-125 ease-in-out duration-75 transition-all;

  background: $gray-200;

  color: $gray-700;

  &:hover {
    background: $dark-color;
    color: $gray-50;
  }

  .tooltip_list {
    @apply rounded p-1 w-fit absolute hidden flex flex-col items-center justify-center;
    bottom: 30px;
    left: 0;
    right: 0;
    color: $gray-50;
    background: $slate-700;
  }
}
.item_icon:hover .tooltip_list {
  display: block;
}

.item_badge {
  @apply inline-block whitespace-nowrap rounded-full px-[0.65em] pt-[0.35em] pb-[0.25em] text-center align-baseline text-[0.75em] font-bold leading-none absolute top-5 right-0 ring-2 ring-gray-50;

  background: $red-400;
  color: $gray-50;
}

.op_buttons {
  @apply absolute top-6 right-6 hidden group-hover:block;

  button {
    @apply h-7 w-7 rounded-full hover:scale-125 opacity-75 hover:opacity-100;
    color: $gray-50;
    background: $dark-color;
  }

  button:nth-child(1) {
    @apply mr-2;
  }
}
