<div
  appHighlight
  class="max-w-sm rounded overflow-hidden bg-gray-100 group relative"
>
  <div class="op_buttons">
    <button type="button" (click)="onEditAlbum()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button type="button" (click)="onDeleteAlbum()">
      <fa-icon [icon]="faDelete"></fa-icon>
    </button>
  </div>
  <a [routerLink]="[index]" fragment="details">
    <img
      class="w-96 h-80 object-cover"
      src="{{ album.imageURL }}"
      alt="{{ album.title }}"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ album.title }}</div>
      <p class="text-gray-700 text-base">
        {{ album.description }}
      </p>
    </div>
  </a>
  <div class="px-6 pt-4 pb-2 text-center">
    <!-- thumb -->
    <span
      class="item_icon cursor-pointer relative"
      (click)="addThumb(index)"
    >
      <fa-icon [icon]="faThumbsUp"></fa-icon>
      <span class="item_badge">
        {{ album?.reactions?.reacts?.thumb }}
      </span>
      <ng-template
        *ngIf="
          album?.reactions?.reacts?.thumb === 0;
          else showThumb
        "
      ></ng-template>
      <ng-template #showThumb>
        <ul class="tooltip_list">
          <li *ngFor="let item of album.reactions.users">
            {{ item | username : 'thumb' }}
          </li>
        </ul>
      </ng-template>
    </span>
    <!-- like -->
    <span
      class="item_icon cursor-pointer relative"
      (click)="addLike(index)"
    >
      <fa-icon [icon]="faHeart"></fa-icon>
      <span class="item_badge">
        {{ album?.reactions?.reacts?.like }}
      </span>
      <ng-template
        *ngIf="
          album?.reactions?.reacts?.like === 0;
          else showLike
        "
      ></ng-template>
      <ng-template #showLike>
        <ul class="tooltip_list">
          <li *ngFor="let item of album.reactions.users">
            {{ item | username : 'like' }}
          </li>
        </ul>
      </ng-template>
    </span>
    <!-- comment -->
    <span class="item_icon cursor-pointer relative">
      <fa-icon [icon]="faComment"></fa-icon>
      <span class="item_badge">
        {{ album.comments.length }}
      </span>
      <ng-template
        *ngIf="album.comments.length === 0; else showComments"
      ></ng-template>
      <ng-template #showComments>
        <ul class="tooltip_list">
          <li *ngFor="let item of album.comments">
            {{ item.author | username : '@' }}
          </li>
        </ul>
      </ng-template>
    </span>
  </div>
</div>
