<div appHighlight class="item_container group">
  <div
    class="op_buttons"
    *ngIf="currentUser === album.createdBy"
  >
    <button type="button" (click)="onEditAlbum()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button type="button" (click)="onDeleteAlbum()">
      <fa-icon [icon]="faDelete"></fa-icon>
    </button>
  </div>
  <a
    [routerLink]="[album.id]"
    fragment="details"
    (click)="onSendId(album.id)"
  >
    <img
      [ngClass]="{ img_normal: !isImgBlur, img_blur: isImgBlur }"
      src="{{ album.imageURL }}"
      alt="{{ album.title }}"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ album.title }}</div>
      <p class="item_desc">
        {{ album.description | shorten : 9 }}
      </p>
    </div>
  </a>
  <div class="px-6 pt-2 pb-2 text-center">
    <!-- thumb -->
    <span
      class="item_icon cursor-pointer relative"
      (click)="addThumb()"
    >
      <fa-icon
        [icon]="isThumb ? faThumbsUpActive : faThumbsUp"
      ></fa-icon>
      <span
        class="item_badge"
        *ngIf="album.reactions.reacts.thumb !== 0"
      >
        {{ album.reactions.reacts.thumb }}
      </span>
      <ng-template
        *ngIf="
          album?.reactions?.reacts?.thumb === 0;
          else showThumb
        "
      ></ng-template>
      <ng-template #showThumb>
        <ul class="tooltip_list">
          <li *ngFor="let item of album.reactions.users">
            {{ item | username : 'thumb' }}
          </li>
        </ul>
      </ng-template>
    </span>
    <!-- like -->
    <span
      class="item_icon cursor-pointer relative"
      (click)="addLike()"
    >
      <fa-icon
        [icon]="isLike ? faHeartActive : faHeart"
      ></fa-icon>
      <span
        class="item_badge"
        *ngIf="album.reactions.reacts.like !== 0"
      >
        {{ album.reactions.reacts.like }}
      </span>
      <ng-template
        *ngIf="
          album?.reactions?.reacts?.like === 0;
          else showLike
        "
      ></ng-template>
      <ng-template #showLike>
        <ul class="tooltip_list">
          <li *ngFor="let item of album.reactions.users">
            {{ item | username : 'like' }}
          </li>
        </ul>
      </ng-template>
    </span>
    <!-- comment -->
    <span class="item_icon cursor-pointer relative">
      <fa-icon
        [icon]="isComment ? faCommentActive : faComment"
      ></fa-icon>
      <span
        class="item_badge"
        *ngIf="album.comments.length !== 0"
      >
        {{ album.comments.length }}
      </span>
      <ng-template
        *ngIf="album.comments.length === 0; else showComments"
      ></ng-template>
      <ng-template #showComments>
        <ul class="tooltip_list">
          <li *ngFor="let item of album.comments">
            {{ item.author | username : '@' }}
          </li>
        </ul>
      </ng-template>
    </span>
  </div>
</div>
